<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - OnKurir</title>
    {% load django_bootstrap5 %} 
    {% bootstrap_css %}
    {% load static %}
    <style>
        body {
            font-family: 'Roboto';
        }

        .navbar {
            background-color: #303841; /* Latar belakang navbar */
            padding-left: 40px; /* Padding kiri */
            padding-right: 40px; /* Padding kanan */
        }

        .navbar-nav .nav-link {
            color: white !important; /* Mengubah warna teks menjadi putih */
        }

        .navbar-nav .nav-link.active {
            color: #00ADB5 !important; /* Warna teks berubah */
            background-color: transparent !important; /* Latar belakang transparan */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#" style="font-weight: bold; color: white;">OnKurir</a> -->
            <a class="navbar-brand" href="#" style="font-weight: bold; color: white;">
                <img src="{% static 'images/Logo.png' %}" alt="Logo" style="max-height: 35px; max-width: 35px;"> <!-- Gambar logo dari folder static -->
                OnKurir
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %} me-5" href="{% url 'beranda' %}">Beranda</a>
                    <a class="nav-link {% if request.path == '/tentang-kami/' %}active{% endif %} me-5" href="{% url 'tentangkami' %}">Tentang Kami</a>
                    <a class="nav-link {% if request.path == '/layanan/' %}active{% endif %} me-5" href="{% url 'layanan' %}">Layanan</a>
                    <a class="nav-link {% if '/blog/' in request.path %}active{% endif %} me-5" href="{% url 'blog_list' %}">Blog</a>
                    <a class="nav-link {% if request.path == '/galeri/' %}active{% endif %} me-5" href="{% url 'galeri' %}">Galeri</a>
                    <a class="nav-link {% if request.path == '/kontak-kami/' %}active{% endif %} me-5" href="{% url 'kontak-kami' %}">Kontak Kami</a>
                    
                </div>
            </div>
        </div>
    </nav>

    

    <div class="body">{% block content %} {% endblock %}</div>


    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted" style="padding-top: 20px; background-color: #303841; color: white;">
        <!-- Section: Links -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <!-- Content -->
                        <img src="{% static 'images/Logo.png' %}" alt="Logo" style="max-height: 150px; max-width: 150px;">
                        <a style="font-weight: bold; font-size: 32px; color: white;">OnKurir</a>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
                            Tentang Kami
                        </h6>
                        <p>
                            <a href="{% url 'tentangkami' %}#title-tentangkami" style="color: white;">{{ footer_TitleTentangKami.title_TentangKami|default:"Belum ada teks untuk judul" }}</a>
                        </p>
                        <p>
                            <a href="{% url 'tentangkami' %}#title-visimisi" style="color: white;">{{ footer_TitleVisiMisi.title_VisiMisi|default:"Belum ada teks untuk judul" }}</a>
                        </p>
                        <p>
                            <a href="{% url 'tentangkami' %}#!" style="color: white;">{{ footer_Tim.title_tim|default:"Belum ada teks untuk judul" }}</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
                            Media
                        </h6>
                        <p>
                            <a href="{% url 'blog_list' %}#title-blog" style="color: white;">Blog</a>
                        </p>
                        <p>
                            <a href="{% url 'galeri' %}#title-galeri" style="color: white;">{{ footer_Galeri.title_Galeri|default:"Belum ada teks untuk judul" }}</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
                            Hubungi Kami
                        </h6>
                        <p>
                            <a href="{% url 'kontak-kami' %}#title-kontakkami" style="color: white;">Alamat</a>
                        </p>
                        <p>
                            <a href="{% url 'kontak-kami' %}#title-kontakkami" style="color: white;">No. Telp</a>
                        </p>
                        <p>
                            <a href="{% url 'kontak-kami' %}#title-kontakkami" style="color: white;">Email</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="color: white;">
                            Ikuti Kami
                        </h6>
                        <div class="d-flex gap-2">
                            {% for social in medias %}
                            <a href="{{ social.link }}" target="_blank" class="text-decoration-none">
                                <div class="rounded-circle d-flex align-items-center justify-content-center bg-light" 
                                     style="width: 40px; height: 40px; color: #000;">
                                    <i class="{{ social.media }}"></i>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: #3A4750; color: white;">
            © Copyright 2024 OnKurir Company
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    {% bootstrap_javascript %}
</body>
</html>
